:root {
    --font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: darkslategrey;
}

.container {
    display: grid;
    height: 440px;
    width: 300px;
    margin: 50px 500px;
    outline: rgb(6, 0, 33) solid 1px;
    border-radius: 20px;
    background-color: rgb(46, 96, 145);
    font-family: var(--font-family);
    box-shadow: 0px 0px 20px 0px rgb(37, 36, 36);
    
}

.screen {
    max-width: 266px;
    height: 70px;
    background-color: lightgrey;
    color: black;
    outline: rgb(41, 41, 41) solid 2px;
    margin: 15px 15px -10px;
    text-align: right;
    padding: 4px 4px 0 0;
    border-radius: 10px;
    
}

#inputScreen {
    height: 30px;
    font-size: 18;
}

#outputScreen {
    height: 40px;
    font-size: 30px;
}

.otherFunctions {
    width: 200px;
    height: 180px;
    margin: -1px 0 -180px 15px;
}

.other {
    background-color: white;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 60px;
    outline: black auto 1px;
}

.numberContainer {
    width: 200px;
    height: 180px;
    margin: 35px 0 15px 15px;
}

.btn {
    background-color: white;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 60px;
    outline: rgb(6, 0, 33) solid 1px;
    margin: 1px;
    border-radius: 12px;
}

.btn:hover {
    background-color: rgba(0, 3, 89, 0.3);
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.btn:active {
    height: 58px;
    width: 58px;
    transform: translateY(1px);
    margin: 2px;
}

#function:hover {
    background-color: white;
    color: rgb(0, 3, 89);
    font-size: 24px;
    font-weight: 700;
}

#function:active {
    height: 58px;
    width: 58px;
    transform: translateY(1px);
    margin: 2px;
}

.functionContainer {
    height: 220px;
    width: 70px;
    margin: -297px 0 15px 225px;
}

#function {
    background-color: rgba(0, 3, 89, 0.3);
    color: white;
    font-size: 20px;
    height: 60px;
    width: 60px;
    outline: rgb(6, 0, 33) solid 1px;
    margin-top: 2px;
}

h3 {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-family: var(--font-family);
    margin-top: -220px;
    font-size: 12px;
    color: white;
}

.formFooter {
    text-decoration: none;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 10vh;
    width: 100%;
    overflow: auto;
    margin: 0px;
  }

  /* Github link and text formatting */
#githubLogo {
    position: absolute;
    right: 1pc;
    bottom: 1pc;
    height: 4vh;
    background-blend-mode: lighten;
  }
  
  h5 {
    position: absolute;
    right: 3pc;
    text-decoration: none;
    color: white;
    font-family: var(--font-family);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
  }
  
  .formFooter:hover h5 {
    visibility: visible;
    opacity: 1;
  }